@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

.Monster{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
}

.Monster > img{
  filter:drop-shadow(0 0 5px #666);
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: auto;
}

.Monster .Monster_name{
  font-family: "Press Start 2P";
  font-size: 12px;
  color: white;
  padding: 15px;
  margin-top: 28px;
  align-self: flex-start;
  border: 1px solid white;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  text-align:center;
}

.Hero{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.Hero > img{
  filter:drop-shadow(0 0 5px #666);
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: auto;
}

.Hero .Hero_name{
  font-family: "Press Start 2P";
  font-size: 12px;
  color: white;
  padding: 15px;
  margin-bottom: 28px;
  align-self: flex-end;
  border: 1px solid white;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  text-align: center;
}

.Choices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}