.Monster{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 15px;
}

.Monster > img{
  filter:drop-shadow(0 0 5px #666);
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.Monster .Monster_name{
  color: white;
  padding-top: 15px;
}